body {
    background: url(./images/background.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 50px;
}

h2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 310px;
    text-align: center;
    background-color:#fff;
}

h5 {
  text-align: center;
  font-size: 30px;
  padding-top: 50;
}

h3 {
    text-align: center;
}

section#details,
div {
  float: left;
  position: fixed;
  bottom: 0;
  
}

div {
  width: 25%;
  background-color: #fff;
}

section#details,
p {
  width: 100%;
  text-align: center;
}

section#details,
a {
  background-color: #fff;
}

section#leftBar,
div {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 200px;
  width: 310px;
  text-align: center;
  background-color:#fff;
}
